{
  "swagger": "2.0",
  "info": {
    "title": "Experiments GraphQL API",
    "description": "Experiment GraphQL APIs to query experiment data",
    "version": "v2"
  },
  "host": "api01-np.agro.services",
  "schemes": [
    "https"
  ],
  "basePath": "/experiments-api-graphql",
  "paths": {
    "/ping": {
      "get": {
        "summary": "simple ping call",
        "description": "This is a ping call to the service to check if it's up",
        "operationId": "ping",
        "tags": [
          "Ping"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful Ping Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/graphql": {
      "post": {
        "summary": "Sends query request to graphql endpoint",
        "description": "Sends a graphql query that asks for specific data from the system",
        "operationId": "graphQL",
        "tags": ["graphql"],
        "produces": ["application/json"],
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraphQLQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response of the graphql query",
            "schema": {
              "$ref": "#/definitions/GraphQLResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "format": "int32"
        },
        "code": {
          "type": "string"
        },
        "errorCode": {
          "type": "string"
        },
        "errorMessage": {
          "type": "string"
        }
      }
    },
    "GraphQLQuery": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "example": "{getExperimentById(id:1275){id}}"
        }
      }
    },
    "GraphQLResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "example": "{getExperimentById:{id:123}}"
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
