{
    "swagger": "2.0",
    "info": {
        "title": "Experiments API",
        "description": "Experiment APIs to create experiment model, requires oauth_resourceownerinfo http header",
        "version": "v1"
    },
    "host": "api01-np.agro.services",
    "schemes": [
        "https"
    ],
    "basePath": "/experiments-api",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/experiment-designs": {
            "get": {
                "summary": "Get all experiment designs",
                "description": "Returns all experiment designs that can be used\n",
                "tags": [
                    "Experiment Designs"
                ],
                "responses": {
                    "200": {
                        "description": "Array of experiment designs",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExperimentDesign"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "Adds a new experiment design",
                "description": "Posts a new experiment design",
                "tags": [
                    "Experiment Designs"
                ],
                "parameters": [
                    {
                        "name": "experimentDesign",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ExperimentDesignPayload"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "ID of newly created experiment design",
                        "schema": {
                            "type": "number"
                        }
                    },
                    "400": {
                        "description": "Invalid body",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/experiment-designs/{id}": {
            "get": {
                "summary": "Get one experiment design entity",
                "description": "Returns a single experiment design entity\n",
                "tags": [
                    "Experiment Designs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of experiment designs",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExperimentDesign"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid Request",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Experiment Design Does Not Exist",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update one experiment design",
                "description": "Updates a single experiment design entity\n",
                "tags": [
                    "Experiment Designs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "experimentDesign",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ExperimentDesignPayload"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated Experiment Design entity",
                        "schema": {
                            "$ref": "#/definitions/ExperimentDesign"
                        }
                    },
                    "400": {
                        "description": "Invalid Request",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Experiment Design Does Not Exist",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Deletes one experiment design",
                "description": "Deletes a single experiment design entity\n",
                "tags": [
                    "Experiment Designs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted Experiment Design entity",
                        "schema": {
                            "type": "number"
                        }
                    },
                    "400": {
                        "description": "Invalid Request",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Experiment Design Does Not Exist",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/experiments": {
            "get": {
                "summary": "get all experiment entities",
                "description": "This endpoint returns information about the experiments.\n",
                "tags": [
                    "Experiments"
                ],
                "responses": {
                    "200": {
                        "description": "An array of experiments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExperimentResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "post one or more experiment entities",
                "description": "Creates new experiments in Experiments System.\n",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "name": "experiment",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExperimentPayload"
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Experiment Created",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CreateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/experiments/{id}": {
            "get": {
                "summary": "get one experiment entity",
                "description": "The Experiments endpoint returns information about the experiment entities in Experiments System.\n",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Experiment entity",
                        "schema": {
                            "$ref": "#/definitions/ExperimentResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "put one experiment entity",
                "description": "update experiment entity in Experiments System.\n",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "experiment",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ExperimentPayload"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Experiment entity",
                        "schema": {
                            "$ref": "#/definitions/ExperimentResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete one experiment entity",
                "description": "delete experiment entity in Experiments System.\n",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Experiment Deleted",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/experiments/{id}/hypotheses": {
            "get": {
                "summary": "get all hypotheses for given experiment id.",
                "description": "This endpoint returns information about the hypotheses entities associated with one Experiment.\n",
                "tags": [
                    "Hypotheses"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hypotheses",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/HypothesisResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/experiments/{id}/dependent-variables": {
            "get": {
                "summary": "get all dependent variables for given experiment id.",
                "description": "This endpoint returns information about the dependent variable entities associated with one Experiment.\n",
                "tags": [
                    "Dependent Variables"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dependent Variables",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DependentVariableResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/experiments/{id}/factors": {
            "get": {
                "summary": "get all factors  for given experiment id.",
                "description": "This endpoint returns information about the factor entities associated with one Experiment.\n",
                "tags": [
                    "Factors"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Factors",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FactorResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/experiments/{id}/variables": {
            "get": {
                "summary": "get all variables for given experiment id.",
                "description": "This endpoint returns information about the variable entities associated with one Experiment.\n",
                "tags": [
                    "Variables"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Variables",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/VariablesResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/experiments/{id}/treatments": {
            "get": {
                "summary": "get all treatments for a given experiment id",
                "description": "This endpoint returns information about the treatment entities associated with an Experiment",
                "tags": [
                    "Treatments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Treatments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Treatment"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/experiments/{id}/experimental-units": {
            "get": {
                "summary": "get all experimental units for a given experiment id",
                "description": "This endpoint returns information about the experimental units entities associated with an Experiment",
                "tags": [
                    "Experimental Units"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ExperimentalUnits",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExperimentalUnitResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/experiments/{id}/composites/treatments": {
            "get": {
                "summary": "get all treatments and combination elements for a given experiment id",
                "description": "This endpoint returns information about the treatment and and combination elements entities associated with an Experiment",
                "tags": [
                    "Composites"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Treatments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CompositeTreatmentsResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/hypotheses": {
            "get": {
                "summary": "get all hypotheses entities",
                "description": "This endpoint returns information about the hypotheses.\n",
                "tags": [
                    "Hypotheses"
                ],
                "responses": {
                    "200": {
                        "description": "An array of hypotheses",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/HypothesisResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "post one or more experiment entities",
                "description": "Creates new hypotheses in Experiments System.\n",
                "tags": [
                    "Hypotheses"
                ],
                "parameters": [
                    {
                        "name": "hypotheses",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/HypothesisPayload"
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "hypotheses Created",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CreateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/hypotheses/{id}": {
            "get": {
                "summary": "get one hypothesis entity",
                "description": "The hypotheses endpoint returns information about the hypothesis entities in Experiments System.\n",
                "tags": [
                    "Hypotheses"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hypotheses entity",
                        "schema": {
                            "$ref": "#/definitions/HypothesisResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Hypothesis Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "put one hypothesis entity",
                "description": "update Hypothesis entity in Experiments System.\n",
                "tags": [
                    "Hypotheses"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "hypothesis",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/HypothesisPayload"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hypothesis entity",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/HypothesisResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Hypothesis Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete one hypothesis entity",
                "description": "delete hypothesis entity in Experiments System.\n",
                "tags": [
                    "Hypotheses"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "hypothesis Deleted",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Hypothesis Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/dependent-variables/{id}": {
            "get": {
                "summary": "get one dependent variable entity",
                "description": "The dependent variables endpoint returns information about the dependent variable entities in Experiments System.\n",
                "tags": [
                    "Dependent Variables"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "dependent Variable entity",
                        "schema": {
                            "$ref": "#/definitions/DependentVariableResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Dependent Variable Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete one Dependent Variable entity",
                "description": "delete Dependent Variable entity in Experiments System.\n",
                "tags": [
                    "Dependent Variables"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Dependent Variable Deleted",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Dependent Variable Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/dependent-variables": {
            "post": {
                "summary": "post one or more dependent variable entities",
                "description": "Creates new Dependent Variables in Experiments System.\n",
                "tags": [
                    "Dependent Variables"
                ],
                "parameters": [
                    {
                        "name": "DependentVariables ",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DependentVariablePayloadForPOST"
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Dependent Variable Created",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CreateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "put one or more dependent variable entities",
                "description": "Update Dependent Variables in Experiments System.\n",
                "tags": [
                    "Dependent Variables"
                ],
                "parameters": [
                    {
                        "name": "DependentVariables",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DependentVariablePayloadForPUT"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UpdateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/factors/{id}": {
            "get": {
                "summary": "get one factor entity",
                "description": "The factors endpoint returns information about the factor entities in Experiments System.\n",
                "tags": [
                    "Factors"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "factor entity",
                        "schema": {
                            "$ref": "#/definitions/FactorResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Factor Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete one factor entity",
                "description": "delete factor entity in Experiments System.\n",
                "tags": [
                    "Factors"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Factor Deleted",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Factor Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/factors/{id}/factor-levels": {
            "get": {
                "summary": "get all factors  for given factor id.",
                "description": "This endpoint returns information about the factor entities associated with one Factor.\n",
                "tags": [
                    "Factor Levels"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Factors",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FactorResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/factors": {
            "post": {
                "summary": "post one or more factor entities",
                "description": "Creates new factor entity in Experiments System.\n",
                "tags": [
                    "Factors"
                ],
                "parameters": [
                    {
                        "name": "Factors ",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FactorPayloadForPOST"
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Factor Created",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CreateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "put one or more factor entities",
                "description": "Update factor in Experiments System.\n",
                "tags": [
                    "Factors"
                ],
                "parameters": [
                    {
                        "name": "Factors",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FactorPayloadForPUT"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UpdateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/factor-levels/{id}": {
            "get": {
                "summary": "get one factor level entity",
                "description": "The factor-levels endpoint returns information about the factor level entity in Experiments System.\n",
                "tags": [
                    "Factor Levels"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "factor-level entity",
                        "schema": {
                            "$ref": "#/definitions/FactorLevelResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Factor Level Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete one factor level entity",
                "description": "delete factor level entity in Experiments System.\n",
                "tags": [
                    "Factor Levels"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Factor Level Deleted",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Factor Level Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/factor-levels": {
            "post": {
                "summary": "post one or more factor level entities",
                "description": "Creates new factor level entities in Experiments System.\n",
                "tags": [
                    "Factor Levels"
                ],
                "parameters": [
                    {
                        "name": "Factor Levels ",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FactorLevelPayloadForPOST"
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Factor Level Created",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CreateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "put one or more factor level entities",
                "description": "Update factor level in Experiments System.\n",
                "tags": [
                    "Factor Levels"
                ],
                "parameters": [
                    {
                        "name": "Factor Levels",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FactorLevelPayloadForPUT"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UpdateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/factor-types": {
            "get": {
                "summary": "Get all factor types",
                "description": "Returns all factor types that can be used\n",
                "tags": [
                    "Factor Types"
                ],
                "responses": {
                    "200": {
                        "description": "Array of factor types",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FactorType"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "Adds a new factor type",
                "description": "Creates a new factor type",
                "tags": [
                    "Factor Types"
                ],
                "parameters": [
                    {
                        "name": "factorType",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/FactorTypePayload"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "ID of newly created factor type",
                        "schema": {
                            "type": "number"
                        }
                    },
                    "400": {
                        "description": "Invalid body",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/factor-types/{id}": {
            "get": {
                "summary": "Get one factor type entity",
                "description": "Returns a single factor type entity\n",
                "tags": [
                    "Factor Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Single Factor Type Entity",
                        "schema": {
                            "$ref": "#/definitions/FactorType"
                        }
                    },
                    "400": {
                        "description": "Invalid Request",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Factor Type Does Not Exist",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update one factor type",
                "description": "Updates a single factor type entity\n",
                "tags": [
                    "Factor Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "factorType",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FactorTypePayload"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated Factor Type entity",
                        "schema": {
                            "$ref": "#/definitions/FactorType"
                        }
                    },
                    "400": {
                        "description": "Invalid Request",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Factor Type Does Not Exist",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Deletes one factor type",
                "description": "Deletes a single factor type entity\n",
                "tags": [
                    "Factor Types"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted Experimental Design entity",
                        "schema": {
                            "type": "number"
                        }
                    },
                    "400": {
                        "description": "Invalid Request",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Factor Type Does Not Exist",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/variables": {
            "post": {
                "summary": "Add variables",
                "description": "Creates a new variables, clears existing variables when new variables are provided",
                "tags": [
                    "Variables"
                ],
                "parameters": [
                    {
                        "name": "Variables",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/VariablesRquestPayload"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid body",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/treatments": {
            "post": {
                "summary": "Add treatments",
                "description": "Creates new treatments",
                "tags": [
                    "Treatments"
                ],
                "parameters": [
                    {
                        "name": "Treatments",
                        "in": "body",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TreatmentsRequestPayloadForPOST"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CreateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid body",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "Updates treatments",
                "description": "Updates existing treatments",
                "tags": [
                    "Treatments"
                ],
                "parameters": [
                    {
                        "name": "Treatments",
                        "in": "body",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TreatmentsRequestPayloadForPUT"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UpdateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid body",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/treatments/{id}": {
            "get": {
                "summary": "Get one treatment entity",
                "description": "Gets a treatment entity for the given treatment id",
                "tags": [
                    "Treatments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Single Treatment Entity",
                        "schema": {
                            "$ref": "#/definitions/Treatment"
                        }
                    },
                    "400": {
                        "description": "Invalid Request",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Treatment Does Not Exist",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete one treatment entity",
                "description": "Deletes a treatment entity for the given treatment id",
                "tags": [
                    "Treatments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "string",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted Treatment Entity",
                        "schema": {
                            "type": "number"
                        }
                    },
                    "400": {
                        "description": "Invalid Request",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Treatment Does Not Exist",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/treatments/{id}/combination-elements": {
            "get": {
                "summary": "get all combination elements  for given treatment id.",
                "description": "This endpoint returns information about the combination-elements entities associated with one treatment.\n",
                "tags": [
                    "Combination Elements"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CombinationElements",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CombinationElementResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Treatment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/treatments/{id}/experimental-units": {
            "get": {
                "summary": "get all experimental units for given treatment id.",
                "description": "This endpoint returns information about the experimental units entities associated with one treatment.\n",
                "tags": [
                    "Experimental Units"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ExperimentalUnits",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExperimentalUnitResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Treatment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/combination-elements/{id}": {
            "get": {
                "summary": "get one combination-element entity",
                "description": "The combination-elements endpoint returns information about the combination elements entity in Experiments System.\n",
                "tags": [
                    "Combination Elements"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "combination-element entity",
                        "schema": {
                            "$ref": "#/definitions/CombinationElementResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Combination Element Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete one combination element Response entity",
                "description": "delete combination element entity in Experiments System.\n",
                "tags": [
                    "Combination Elements"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Combination Element Deleted",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Combination Element Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/combination-elements": {
            "post": {
                "summary": "post one or more combination element entities",
                "description": "Creates new combination element entities in Experiments System.\n",
                "tags": [
                    "Combination Elements"
                ],
                "parameters": [
                    {
                        "name": "Combination Elements",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CombinationElementPayloadForPOST"
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Combination Element Created",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CreateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "put one or more combination element entities",
                "description": "Update combination element in Experiments System.\n",
                "tags": [
                    "Combination Elements"
                ],
                "parameters": [
                    {
                        "name": "Combination Elements",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CombinationElementPayloadForPUT"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UpdateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/experimental-units/{id}": {
            "get": {
                "summary": "get one experimental unit entity",
                "description": "The experimental-units endpoint returns information about the experimental unit entity in Experiments System.\n",
                "tags": [
                    "Experimental Units"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Experimental Unit entity",
                        "schema": {
                            "$ref": "#/definitions/ExperimentalUnitResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experimental Unit Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete one experimental unit entity",
                "description": "delete experimental unit entity in Experiments System.\n",
                "tags": [
                    "Experimental Units"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Experimental Unit Deleted",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experimental Unit Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/experimental-units": {
            "post": {
                "summary": "post one or more experimental unit entities",
                "description": "Creates new experimental unit entities in Experiments System.\n",
                "tags": [
                    "Experimental Units"
                ],
                "parameters": [
                    {
                        "name": "Experimental Units",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExperimentalUnitPayloadForPOST"
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Experimental Unit Created",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CreateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "put one or more Experimental Unit entities",
                "description": "Update Experimental Unit in Experiments System.\n",
                "tags": [
                    "Experimental Units"
                ],
                "parameters": [
                    {
                        "name": "Experimental Units",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExperimentalUnitPayloadForPUT"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UpdateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/composites/treatments": {
            "post": {
[...]
