{
    "swagger": "2.0",
    "info": {
        "title": "Experiments API",
        "description": "Experiment APIs to create experiment model",
        "version": "v1"
    },
    "host": "api01-np.agro.services",
    "schemes": [
        "https"
    ],
    "basePath": "/experiments-api",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/experiments": {
            "get": {
                "summary": "get all experiment entities",
                "description": "The Experiments endpoint returns information about the experiment entities in Experiments System.\n",
                "tags": [
                    "Experiments"
                ],
                "responses": {
                    "200": {
                        "description": "An array of experiments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Experiment"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "post one experiment entity",
                "description": "Creates new experiment in Experiments System.\n",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "name": "experiment",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ExperimentPayload"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Experiment Created",
                        "schema": {
                            "type": "number"
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/experiments/{id}": {
            "get": {
                "summary": "get one experiment entity",
                "description": "The Experiments endpoint returns information about the experiment entities \nin Experiments System.\n",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Experiment entity",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Experiment"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "put one experiment entity",
                "description": "update experiment entiry in Experiments System.\n",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "experiment",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ExperimentPayload"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Experiment entity",
                        "schema": {
                            "$ref": "#/definitions/Experiment"
                        }
                    },
                    "400": {
                        "description": "Invalid/Problematic Input",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete one experiment entity",
                "description": "delete experiment entity in Experiments System.\n",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Experiment Deleted",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "No Experiment Found For ID",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Experiment": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "unique id for experiment entity"
                },
                "name": {
                    "type": "string",
                    "description": "name of the experiment entity."
                },
                "status": {
                    "type": "string",
                    "description": "status of the experiment entity."
                }
            }
        },
        "ExperimentPayload": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "name of the experiment entity."
                },
                "status": {
                    "type": "string",
                    "description": "status of the experiment entity."
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}