{
  "swagger": "2.0",
  "info": {
    "title": "Experiments API",
    "description": "Experiment APIs to create experiment model, requires oauth_resourceownerinfo http header",
    "version": "v2"
  },
  "host": "api01-np.agro.services",
  "schemes": [
    "https"
  ],
  "basePath": "/experiments-api",
  "paths": {
    "/combination-elements/{id}": {
      "get": {
        "summary": "get one combination-element entity",
        "description": "The combination-elements endpoint returns information about the combination elements entity in Experiments System.\n",
        "operationId": "getCombination-elementsById",
        "tags": [
          "Combination Elements"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "combination-element entity",
            "schema": {
              "$ref": "#/definitions/CombinationElementResponse"
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Combination Element Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/dependent-variables/{id}": {
      "get": {
        "summary": "get one dependent variable entity",
        "description": "The dependent variables endpoint returns information about the dependent variable entities in Experiments System.\n",
        "operationId": "getDependent-variablesById",
        "tags": [
          "Dependent Variables"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "dependent Variable entity",
            "schema": {
              "$ref": "#/definitions/DependentVariableResponse"
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Dependent Variable Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/design-specification-details/{id}": {
      "get": {
        "summary": "Get one design specification detail entity by id",
        "description": "Returns specification detail entity by id",
        "operationId": "getDesign-specification-detailsById",
        "tags": [
          "Design Specification Detail"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Design Specification Detail Entities",
            "schema": {
              "$ref": "#/definitions/DesignSpecificationDetail"
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experimental-units/{id}": {
      "get": {
        "summary": "get one experimental unit entity",
        "description": "The experimental-units endpoint returns information about the experimental unit entity in Experiments System.\n",
        "operationId": "getExperimental-unitsById",
        "tags": [
          "Experimental Units"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Experimental Unit entity",
            "schema": {
              "$ref": "#/definitions/ExperimentalUnitResponse"
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Experimental Unit Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/groups": {
      "get": {
        "summary": "Get all groups by experiment id",
        "description": "Returns all groups for experiment\n",
        "operationId": "getGroupsByExperimentId",
        "tags": [
          "Groups"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Array of groups",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Group"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "summary": "partially update group",
        "description": "Allows for groups to be partially updated. Currently only allows the update of the setId field.",
        "operationId": "patchGroup",
        "tags": [
          "Groups"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "experiment id",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "Group",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GroupPayloadForPATCH"
              }
            },
            "description": "The Group to patch"
          }
        ],
        "responses": {
          "200": {
            "description": "Group Patch SUCCESS"
          },
          "400": {
            "description": "Invalid/Problematic Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/experiment-designs": {
      "get": {
        "summary": "Get all experiment designs",
        "description": "Returns all experiment designs that can be used\n",
        "operationId": "getExperiment-designs",
        "tags": [
          "Experiment Designs"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Array of experiment designs",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExperimentDesign"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiment-designs/{id}": {
      "get": {
        "summary": "Get one experiment design entity",
        "description": "Returns a single experiment design entity\n",
        "operationId": "getExperiment-designById",
        "tags": [
          "Experiment Designs"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Array of experiment designs",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExperimentDesign"
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Experiment Design Does Not Exist",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments": {
      "get": {
        "summary": "get all experiment entities",
        "description": "This endpoint returns information about the experiments.\n",
        "operationId": "getExperiments",
        "tags": [
          "Experiments"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tags.category",
            "in": "query",
            "description": "Tag categories comma separated list",
            "required": false,
            "type": "string"
          },
          {
            "name": "tags.value",
            "in": "query",
            "description": "Tag values comma separated list",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of experiments",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExperimentResponse"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "post one or more experiment entities",
        "description": "Creates new experiment(s) in the Experiments System. The definition to use for the POST body is based upon the source query parameter as described below: <ul><li>template: <pre>{\n  \"id\": 0,\n  \"numberOfCopies\": 0\n}</pre><br/></li><li>experiment: <pre>{\n  \"ids\": [\n    0\n  ],\n  \"numberOfCopies\": 0\n}</pre><br/></li><li>undefined/not provided: <pre>[\n  {\n    \"name\": \"string\",\n    \"description\": \"string\",\n    \"experimentDesign\": \"string\",\n    \"status\": \"string\",\n    \"tags\": [\n      {\n        \"name\": \"string\",\n        \"value\": \"string\",\n        \"experimentId\": 0\n      }\n    ],\n    \"owners\": [\n      \"string\"\n    ],\n    \"ownerGroups\": [\n      \"string\"\n    ],\n    \"request\": {\n      \"id\": \"string\",\n      \"type\": \"string\"\n    }\n  }\n]</pre></li></ul>",
        "operationId": "postExperiments",
        "tags": [
          "Experiments"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "source",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "201": {
            "description": "Experiment Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CreateResponse"
              }
            }
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}": {
      "get": {
        "summary": "get one experiment entity",
        "description": "The Experiments endpoint returns information about the experiment entities in Experiments System.\n",
        "operationId": "getExperimentById",
        "tags": [
          "Experiments"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment entity",
            "schema": {
              "$ref": "#/definitions/ExperimentResponse"
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Experiment Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "put one experiment entity",
        "description": "update experiment entity in Experiments System.\n",
        "operationId": "putExperimentById",
        "tags": [
          "Experiments"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "experiment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExperimentPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment entity",
            "schema": {
              "$ref": "#/definitions/ExperimentResponse"
            }
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Experiment Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/advanced-parameters": {
      "get": {
        "summary": "gets a list of all advanced parameters for a experiment",
        "description": "This endpoint returns information about the advanced parameters associated with an Experiment",
        "operationId": "getAdvancedParametersByExperimentId",
        "tags": [
          "Advanced Parameters"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Advanced Parameters",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AdvancedParameters"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Template Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/capacity-request-sync": {
      "post": {
        "summary": "Synchronizes capacity request data with an experiment's data",
        "description": "Synchronizes specific fields from a request from the Capacity Request system with the data stored for an Experiment",
        "operationId": "capacityRequestSync",
        "tags": [
          "Capacity"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "in": "path",
            "required": true
          },
          {
            "name": "Capacity Request Sync Values",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "locations": {
                  "type": "integer"
                },
                "reps": {
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sync Successful"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/composites/treatments": {
      "get": {
        "summary": "get all treatment details, including combination elements with factor and level information for an experiment",
        "description": "This endpoint returns information about the treatment and and combination elements entities associated with an Experiment",
        "operationId": "getComposites_TreatmentsByExperimentId",
        "tags": [
          "Composites"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Treatments",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompositeTreatmentsResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Experiment Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "post one or more treatments and combination elements entities",
        "description": "Creates/updates treatments and combination elements in Experiments System.\n Request json has add , delete and update sections for treatments. API does action on a section with values and empty sections are ignored. So if add and delete sections are empty and update has treatments then only update action will happen. Combination elements within treatments needs to be complete. New combination element without id will be added and combination element with id will be updated, any combination element not included within treatment will be deleted.",
        "operationId": "postComposites_treatments",
        "tags": [
          "Composites"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "Composites Treatments",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompositeTreatmentsPayloadForPOST"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Composite-Treatments operation SUCCESS"
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/composites/group-experimental-units": {
      "get": {
        "summary": "get all Groups, Group Values, and Experimental Units for a given experiment id",
        "description": "This endpoint returns information about the group,groupValues and experimental Units entities associated with an Experiment",
        "operationId": "getComposites_Group-experimental-unitsByExperimentId",
        "tags": [
          "Composites"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "GroupsAndUnits",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompositeGroupsAndUnitsResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Experiment Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "post one or more Groups, Group Values, and Experimental Units entities",
        "description": "This Service would delete the existing groups groupValues and ExperimentalUnits for the experimentId and then recreates them based on request Payload",
        "operationId": "postComposites_Group-experimental-unitsByExperimentId",
        "tags": [
          "Composites"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "Composites Groups And Units",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompositeGroupsAndUnitsPOST"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "composite group-experimental-units operation SUCCESS"
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/composites/unit-specification-details": {
      "post": {
        "summary": "Creates, updates and deletes UnitSpecificationDetail",
        "description": "Creates, updates and deletes UnitSpecificationDetail",
        "operationId": "post_compositesUnitSpecificationDetail",
        "tags": [
          "Composites"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "UnitSpecificationDetail",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompositeUnitSpecificationDetailPayloadForPOST"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "UnitSpecificationDetail operation SUCCESS"
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/composites/design-group-experimental-units": {
      "post": {
        "summary": "posts design specification details, groups, group values, and experimental units",
        "description": "This service will update the design specification details, groups and units",
        "operationId": "postComposites_Design-Group-experimental-unitsByExperimentId",
        "tags": [
          "Composites"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "Composites Design Specifications, Groups, And Units",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompositeDesignSpecificationDetailGroupsAndUnitsPOST"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "composite design-group-experimental-units operation SUCCESS"
          },
          "400": {
            "description": "Invalid/Problematic Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/experiments/{id}/dependent-variables": {
      "get": {
        "summary": "get all dependent variables for given experiment id.",
        "description": "This endpoint returns information about the dependent variable entities associated with one Experiment.\n",
        "operationId": "getDependentVariablesByExperimentId",
        "tags": [
          "Dependent Variables"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Dependent Variables",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DependentVariableResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Experiment Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/design-specification-details/": {
      "get": {
        "summary": "Get all design specification details for an experiment",
        "description": "Returns all design specification details for an experiment\n",
        "operationId": "getDesign-specification-detailsByExperimentId",
        "tags": [
          "Design Specification Detail"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Design Specification Detail Entities",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DesignSpecificationDetail"
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/experimental-units": {
      "get": {
        "summary": "get all experimental units for a given experiment id",
        "description": "This endpoint returns information about the experimental units entities associated with an Experiment",
        "operationId": "getExperimentalUnitsByExperimentId",
        "tags": [
          "Experimental Units"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "ExperimentalUnits",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExperimentalUnitResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Experiment Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "summary": "partially update experimental units",
        "description": "Allows for a set of experimental units to be partially updated. Currently only allows the update of the entryId field.",
        "operationId": "patchExperimental-units",
        "tags": [
          "Experimental Units"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "experiment id",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "Experimental Units",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExperimentalUnitPayloadForPATCH"
              }
            },
            "description": "Numeric Id of the Experimental Unit to patch"
          }
        ],
        "responses": {
          "200": {
            "description": "Experimental Unit Patch SUCCESS"
          },
          "400": {
            "description": "Invalid/Problematic Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/experiments/{id}/factors": {
      "get": {
        "summary": "get all factors for given experiment id.",
        "description": "This endpoint returns information about the factor entities associated with one Experiment.\n",
        "operationId": "getFactorsByExperimentId",
        "tags": [
          "Factors"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Factors",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FactorResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Experiment Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/permissions": {
      "get": {
        "summary": "get user permissions for the user for experiment id",
        "description": "This endpoint returns information about the user permissions om experiment",
        "operationId": "getPermissionsForUserByExperimentId",
        "tags": [
          "Permissions"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Permissions",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PermissionsResponse"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/summary": {
      "get": {
        "summary": "get the experiment summary for given experiment id.",
        "description": "This endpoint returns summary information about the experiment, such as name, number of variables, etc.\n",
        "operationId": "getSummaryByExperimentId",
        "tags": [
          "Experiment Summary"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment Summary",
            "schema": {
              "$ref": "#/definitions/ExperimentSummary"
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Experiment Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/treatments": {
      "get": {
        "summary": "get all treatments for a given experiment id",
        "description": "This endpoint returns information about the treatment entities associated with an Experiment",
        "operationId": "getTreatmentsByExperimentId",
        "tags": [
          "Treatments"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Treatments",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Treatment"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Experiment Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/unit-specification-details/": {
      "get": {
        "summary": "Get all unit specification details for an experiment",
        "description": "Returns all unit specification details for an experiment\n",
        "operationId": "getUnit-specification-detailsByExperimentId",
        "tags": [
          "Unit Specification Detail"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Unit Specification Detail Entities",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UnitSpecificationDetail"
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/experiments/{id}/variables": {
      "get": {
        "summary": "get all variables for given experiment id.",
        "description": "This endpoint returns information about the variable entities associated with one Experiment.\n",
        "operationId": "getVariablesByExperimentId",
        "tags": [
          "Variables"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Variables",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VariablesResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Experiment Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Save variables",
        "description": "Adds or updates the variables belogning to the specified experiment.",
        "operationId": "postVariables",
        "tags": [
          "Variables"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Variables",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/VariablesRequestPayload"
            }
          },
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid body",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/factors/{id}": {
      "get": {
        "summary": "get one factor entity",
        "description": "The factors endpoint returns information about the factor entities in Experiments System.\n",
        "operationId": "getFactorsById",
        "tags": [
          "Factors"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "factor entity",
            "schema": {
              "$ref": "#/definitions/FactorResponse"
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Factor Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/factors/{id}/factor-levels": {
      "get": {
        "summary": "get all factor levels for given factor id.",
        "description": "This endpoint returns information about the factor level entities associated with one Factor.\n",
        "operationId": "getFactor-levelsByFactorId",
        "tags": [
          "Factor Levels"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Factor Levels",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FactorLevelResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Experiment Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/factor-levels/{id}": {
      "get": {
        "summary": "get one factor level entity",
        "description": "The factor-levels endpoint returns information about the factor level entity in Experiments System.\n",
        "operationId": "getFactor-levelById",
        "tags": [
          "Factor Levels"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "factor-level entity",
            "schema": {
              "$ref": "#/definitions/FactorLevelResponse"
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Factor Level Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/factor-types": {
      "get": {
        "summary": "Get all factor types",
        "description": "Returns all factor types that can be used\n",
        "operationId": "getFactorTypes",
        "tags": [
          "Factor Types"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Array of factor types",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FactorType"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/factor-types/{id}": {
      "get": {
        "summary": "Get one factor type entity",
        "description": "Returns a single factor type entity\n",
        "operationId": "getFactorTypeById",
        "tags": [
          "Factor Types"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Single Factor Type Entity",
            "schema": {
              "$ref": "#/definitions/FactorType"
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Factor Type Does Not Exist",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/getDoc/{fileName}": {
      "get": {
        "summary": "Gets a markdown of a documentation file",
        "description": "Returns markdown string of documentation",
        "operationId": "getDoc",
        "tags": [
          "Documentation"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown of requested page"
          },
          "403": {
            "description": "Forbidden. Catch All From CloudFront"
          }
        }
      }
    },
    "/groups/{id}": {
      "get": {
        "summary": "Get one group entity",
        "description": "Returns a single group entity\n",
        "operationId": "getGroupById",
        "tags": [
          "Groups"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Group Entity",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Group Does Not Exist",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/groups/{id}/group-values": {
      "get": {
        "summary": "Get all group values for a particular group",
        "description": "Returns all group values for a single group\n",
        "operationId": "getGroupValuesByGroupId",
        "tags": [
          "Group Value"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Group Values",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GroupValue"
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Group Does Not Exist",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/group-types": {
      "get": {
        "summary": "Get all group types",
        "description": "Returns all group types that can be used\n",
        "operationId": "getGroupTypes",
        "tags": [
          "Group Types"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Array of group types",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GroupType"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/group-types/{id}": {
      "get": {
        "summary": "Get one group type entity",
        "description": "Returns a single group type entity\n",
        "operationId": "getGroupTypeById",
        "tags": [
          "Group Types"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Single Group Type Entity",
            "schema": {
              "$ref": "#/definitions/GroupType"
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Group Type Does Not Exist",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/group-values/{id}": {
      "get": {
        "summary": "Get on group value entity",
        "description": "Returns a single group entity\n",
        "operationId": "getGroup-ValueById",
        "tags": [
          "Group Value"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Group Value Entity",
            "schema": {
              "$ref": "#/definitions/GroupValue"
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Group Value Does Not Exist",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ref-data-source-types": {
      "get": {
        "summary": "Gets all Reference Data Source Types and all their defined Data Sources",
        "description": "Returns an array of reference data source types and their data sources",
        "operationId": "getRefDataSourceTypes",
        "tags": [
          "Ref Data Sources"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "All Reference Data Source Type Entities With Data Sources",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RefDataSourceTypeWithSources"
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ref-design-specifications": {
      "get": {
        "summary": "Gets all ref-design-specifications and all their defined Data Sources",
        "description": "Returns an array of reference data source types and their data sources",
        "operationId": "getRefDesignSpecifications",
        "tags": [
          "Ref Design Specifications"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "All Reference Design specifications",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RefDesignSpecifications"
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ref-design-specifications/{id}": {
      "get": {
        "summary": "Gets one ref-design-specification entity",
        "description": "Returns ref-design-specification entity by id",
        "operationId": "getRefDesignSpecificationsById",
        "tags": [
          "Ref Design Specifications"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "All Reference Design specifications",
            "schema": {
              "$ref": "#/definitions/RefDesignSpecifications"
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/set-entries": {
      "get": {
        "summary": "Gets all set entries for a set.",
        "description": "Retrieves all set entries that belong to the given set id.",
        "operationId": "getSetEntries",
        "tags": ["Set Entry"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "setId",
            "in": "query",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Set Entry/Treatment/Rep Mapping",
            "schema": {
              "$ref": "#/definitions/SetEntryTreatmentRepInfo"
            }
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Set Entries Do Not Exist",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Returns a mapping of Set Entry Ids to corresponding Treatment Id, Treatment Number and Rep Number",
        "description": "Returns the relationship betweten Set Entry Id and Treatment",
        "operationId": "retrieveSetEntryRelationships",
        "tags": [
          "Set Entry"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Set Entry Ids",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Set Entry/Treatment/Rep Mapping",
            "schema": {
              "$ref": "#/definitions/SetEntryTreatmentRepInfo"
            }
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/sets/{setId}/reset": {
      "post": {
        "summary": "Resets a set back to its original state",
        "description": "Resets the set in a field packed experiment back to its original number of reps and units.",
        "operationId": "resetSet",
        "tags": ["Set Entry"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "setId",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Success with no content"
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/sets/{setId}/treatment-details": {
      "get": {
        "summary": "Gets all levels for each treatment in a set",
        "description": "Retrieves each treatment and their levels for a given set id",
        "operationId": "getTreatmentDetails",
        "tags": ["Set Entry"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "setId",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Mapping of treatment ids to level information",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TreatmentLevelDetails"
              }
            }
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "summary": "get all Template entities",
        "description": "This endpoint returns information about the Templates.\n",
        "operationId": "getTemplates",
        "tags": [
          "Templates"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tags.category",
            "in": "query",
            "description": "Tag categories comma separated list",
            "required": false,
            "type": "string"
          },
          {
            "name": "tags.value",
            "in": "query",
            "description": "Tag values comma separated list",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of templates",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExperimentResponse"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "post one or more template entities",
        "description": "Creates new template(s) in the Experiments System. The definition to use for the POST body is based upon the source query parameter as described below: <ul><li>experiment: <pre>{\n  \"id\": 0,\n  \"numberOfCopies\": 0\n}</pre><br /></li><li>template: <pre>{\n  \"ids\": [\n    0\n  ],\n  \"numberOfCopies\": 0\n}</pre><br /></li><li>undefined/not provided: <pre>[\n  {\n    \"name\": \"string\",\n    \"description\": \"string\",\n    \"experimentDesign\": \"string\",\n    \"status\": \"string\",\n    \"tags\": [\n      {\n        \"name\": \"string\",\n        \"value\": \"string\",\n        \"experimentId\": 0\n      }\n    ],\n    \"owners\": [\n      \"string\"\n    ],\n    \"ownerGroups\": [\n      \"string\"\n    ]  }\n]</pre></li></ul>",
        "operationId": "postTemplates",
        "tags": [
          "Templates"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "source",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "201": {
            "description": "Template Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CreateResponse"
              }
            }
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}": {
      "get": {
        "summary": "get one Template entity",
        "description": "The templates endpoint returns information about the Template entities in templates System.\n",
        "operationId": "getTemplateById",
        "tags": [
          "Templates"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Template entity",
            "schema": {
              "$ref": "#/definitions/ExperimentResponse"
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Template Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "put one Template entity",
        "description": "update Template entity in templates System.\n",
        "operationId": "putTemplateById",
        "tags": [
          "Templates"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "Template",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExperimentPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template entity",
            "schema": {
              "$ref": "#/definitions/ExperimentResponse"
            }
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Template Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}/advanced-parameters": {
      "get": {
        "summary": "gets a list of all advanced parameters for a template",
        "description": "This endpoint returns information about the advanced parameters associated with a Template",
        "operationId": "getAdvancedParametersByTemplateId",
        "tags": [
          "Advanced Parameters"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Advanced Parameters",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AdvancedParameters"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Template Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}/composites/treatments": {
      "get": {
        "summary": "get all treatments and combination elements for a given Template id",
        "description": "This endpoint returns information about the treatment and and combination elements entities associated with a Template",
        "operationId": "getComposites_TreatmentsByTemplateId",
        "tags": [
          "Composites"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Treatments",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompositeTreatmentsResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Template Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "post one or more treatments and combination elements entities",
        "description": "Creates/updates treatments and combination elements in templates System.\n Request json has add , delete and update sections for treatments. API does action on a section with values and empty sections are ignored. So if add and delete sections are empty and update has treatments then only update action will happen. Combination elements within treatments needs to be complete. New combination element without id will be added and combination element with id will be updated, any combination element not included within treatment will be deleted.",
        "operationId": "postTemplateComposites_treatments",
        "tags": [
          "Composites"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "Composites Treatments",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompositeTreatmentsPayloadForPOST"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Composite-Treatments operation SUCCESS"
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}/composites/group-experimental-units": {
      "get": {
        "summary": "get all Groups, Group Values, and experimental Units for a given Template id",
        "description": "This endpoint returns information about the group,groupValues and experimental Units entities associated with a Template",
        "operationId": "getComposites_Group-experimental-unitsByTemplateId",
        "tags": [
          "Composites"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "GroupsAndUnits",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompositeGroupsAndUnitsResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Template Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "post one or more Groups, Group Values, and experimental Units entities",
        "description": "This Service would delete the existing groups groupValues and experimentalUnits for the TemplateId and then recreates them based on request Payload",
        "operationId": "postComposites_Group-experimental-unitsByTemplateId",
        "tags": [
          "Composites"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "Composites Groups And Units",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompositeGroupsAndUnitsPOST"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "composite group-experimental-units operation SUCCESS"
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}/composites/unit-specification-details": {
      "post": {
        "summary": "Creates, updates and deletes UnitSpecificationDetail",
        "description": "Creates, updates and deletes UnitSpecificationDetail",
        "operationId": "postTemplate_compositesUnitSpecificationDetail",
        "tags": [
          "Composites"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "UnitSpecificationDetail",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompositeUnitSpecificationDetailPayloadForPOST"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "UnitSpecificationDetail operation SUCCESS"
          },
          "400": {
            "description": "Invalid/Problematic Input",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Error"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}/composites/design-group-experimental-units": {
      "post": {
        "summary": "posts design specification details, groups, group values, and experimental units",
        "description": "This service will update the design specification details, groups and units",
        "operationId": "postComposites_Design-Group-experimental-unitsByTemplateId",
        "tags": [
          "Composites"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "Composites Design Specifications, Groups, And Units",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompositeDesignSpecificationDetailGroupsAndUnitsPOST"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "composite design-group-experimental-units operation SUCCESS"
          },
          "400": {
            "description": "Invalid/Problematic Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/templates/{id}/dependent-variables": {
      "get": {
        "summary": "get all dependent variables for given Template id.",
        "description": "This endpoint returns information about the dependent variable entities associated with one Template.\n",
        "operationId": "getDependentVariablesByTemplateId",
        "tags": [
          "Dependent Variables"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Dependent Variables",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DependentVariableResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Template Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}/design-specification-details/": {
      "get": {
        "summary": "Get all design specification details for a Template",
        "description": "Returns all design specification details for a Template\n",
        "operationId": "getDesign-specification-detailsByTemplateId",
        "tags": [
          "Design Specification Detail"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Design Specification Detail Entities",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DesignSpecificationDetail"
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}/experimental-units": {
      "get": {
        "summary": "get all experimental units for a given Template id",
        "description": "This endpoint returns information about the experimental units entities associated with a Template",
        "operationId": "getexperimentalUnitsByTemplateId",
        "tags": [
          "Experimental Units"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "experimentalUnits",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExperimentalUnitResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Template Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}/factors": {
      "get": {
        "summary": "get all factors for given Template id.",
        "description": "This endpoint returns information about the factor entities associated with one Template.\n",
        "operationId": "getFactorsByTemplateId",
        "tags": [
          "Factors"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Factors",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FactorResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Template Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}/permissions": {
      "get": {
        "summary": "get user permissions for the user for Template id",
        "description": "This endpoint returns information about the user permissions om Template",
        "operationId": "getPermissionsForUserByTemplateId",
        "tags": [
          "Permissions"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Permissions",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PermissionsResponse"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}/summary": {
      "get": {
        "summary": "get the Template summary for given Template id.",
        "description": "This endpoint returns summary information about the Template, such as name, number of variables, etc.\n",
        "operationId": "getSummaryByTemplateId",
        "tags": [
          "Template Summary"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Template Summary",
            "schema": {
              "$ref": "#/definitions/ExperimentSummary"
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Template Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}/treatments": {
      "get": {
        "summary": "get all treatments for a given Template id",
        "description": "This endpoint returns information about the treatment entities associated with a Template",
        "operationId": "getTreatmentsByTemplateId",
        "tags": [
          "Treatments"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Treatments",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Treatment"
              }
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No Template Found For ID",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}/unit-specification-details/": {
      "get": {
        "summary": "Get all unit specification details for a Template",
        "description": "Returns all unit specification details for a Template\n",
        "operationId": "getUnit-specification-detailsByTemplateId",
        "tags": [
          "Unit Specification Detail"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Unit Specification Detail Entities",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UnitSpecificationDetail"
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/templates/{id}/variables": {
      "get": {
        "summary": "get all variables for given Template id.",
        "description": "This endpoint returns information about the variable entities associated with one Template.\n",
[...]
